.cart-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-details h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .cart-item-details p {
    font-size: 1.2rem;
    color: #777;
  }
  
  .remove-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.2s;
  }
  
  .remove-button:hover {
    background-color: #c0392b;
  }
  
  .payment-btn{
    background-color: #231979;
    margin-right: 50px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.2s;
  }